$breakpoint: 768px;

@mixin mainMenu() {
    nav#main-menu {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        >button {
            display: block;
            width: 35px;
            border: none;
            background: none;
            cursor: pointer;
            padding: 0;
            transition: all 300ms ease-in-out;

            &::before, &::after {
                content: '';
                display: block;
                height: 3px;
                background-color: var(--dnn-color-primary, blue);
                transition: all 300ms ease-in-out;
            }

            @media (min-width:var(--skin-menu-collapse-size, 768px)) {
                display: none;
            }

            .bar {
                height: 3px;
                background-color: var(--dnn-color-primary, blue);
                margin: 0.5rem 0;
                transition: all 300ms ease-in-out;
            }
        }

        &.expanded{
            >button{
                &::before{
                    transform: translate(0, 11px) rotate(45deg);
                }
                &::after{
                    transform: translate(0, -11px) rotate(-45deg);
                }
                .bar{
                    opacity: 0;
                }
            }
            >ul {
                border: 5px solid var(--dnn-color-primary, blue);
                margin-top: 1rem;
            }
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            height: 0;
            overflow: hidden;
            li{
                &:not(:last-child) {
                    border-bottom: 1px solid var(--dnn-color-primary-contrast, white);
                }
                .menu-item{
                    padding: 0.5rem 1rem;
                }
            }
        }

        > ul { /* ROOT */
            background-color: var(--dnn-color-primary, blue);
            flex-basis: 100%;
            flex-grow: 1;
            transition: all 300ms ease-in-out;
            display: flex;
            flex-direction: column;
            > li {
                a, span {
                    text-decoration: none;
                    color: var(--dnn-color-primary-contrast, white);
                    font-size: 1.5em;
                    flex-grow: 1;
                }
                .menu-item{ /* first level */
                    display: flex;
                    justify-content: space-between;
                    >button {
                        color: transparent;
                        display: block;
                        width: 16px;
                        border: none;
                        background: none;
                        cursor: pointer;
                        padding: 0;
                        transition: all 300ms ease-in-out;
            
                        &::before, &::after {
                            content: '';
                            display: block;
                            height: 3px;
                            background-color: var(--dnn-color-primary-contrast, white);
                            transition: all 300ms ease-in-out;
                        }
                        &::before{
                            transform: rotate(45deg) translate(5px, 0);
                        }
                        &::after{
                            transform: rotate(-45deg) translate(5px, 0);
                        }
                    }
                    &.expanded{
                        >button{
                            transform: rotate(90deg);
                        }
                    }
                }
                >ul{ /* second level */
                    overflow: hidden;
                    height: 0;
                    background-color: var(--dnn-color-primary-light, lightblue);
                    li{
                        border: 1px solid var(--dnn-color-primary-contrast, white);
                        .menu-item{
                            button{
                                &::before{
                                    transform: rotate(90deg) translate(10px, 0);
                                }
                                &::after{
                                    transform: translate(0, -8px);
                                }
                            }
                            &.expanded{
                                button{
                                    &::after{
                                        transform: rotate(90deg);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (min-width:$breakpoint){
            /* desktop overrides */
            >button {
                display: none;
            }
            >ul{ /* root */
                display: flex;
                flex-direction: row;
                height: auto;
                background-color: transparent;
                color: var(--dnn-color-primary, blue);
                overflow: visible;
                >li{
                    position: relative;
                    &:not(:last-child){
                        border-bottom: none;
                    }
                    >.menu-item{
                        span, a{
                            color: var(--dnn-color-primary, blue);
                        }
                        >button{
                            width: 0;
                            height: 0;
                            border-left: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-top: 8px solid var(--dnn-color-primary, blue);
                            align-self: center;
                            &::before, &::after{
                                background-color: transparent;
                            }
                        }
                    }
                    >ul{ /* First level */
                        position: absolute;
                        right: 0;
                        background-color: var(--dnn-color-primary, blue);
                        >li{
                            border: none;
                            &:not(:last-child){
                                border-bottom: none;
                            }
                            border: none;
                            span, a{
                                margin-right: 2rem;
                            }
                            >.menu-item{
                                span, a{
                                    color: var(--dnn-color-primary-contrast, white);
                                }
                                >button{
                                    &::before, &::after{
                                        background-color: var(--dnn-color-primary-contrast, white);
                                    }
                                    &::before{
                                        transform: rotate(45deg) translate(5px, 0);
                                    }
                                    &::after{
                                        transform: rotate(-45deg) translate(5px, 0);
                                    }
                                }
                                &.expanded{
                                    >button{
                                        &::before{
                                            transform: rotate(45deg) translate(0, 5px);
                                        }
                                        &::after{
                                            transform: rotate(-45deg) translate(0, -5px);
                                        }
                                    }
                                }
                            }
                            >ul{ /* second level */
                                background-color:var(--dnn-color-primary-light, lightblue);
                                li{
                                    border: none;
                                    border-bottom: none;
                                    &:not(:last-child){
                                        border-bottom: none;
                                    }
                                    ul{
                                        li{
                                            font-size: 0.8em;
                                            margin-left: 1em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}